
html, body {
    width: 100%;
    height: 100%;
}

/* */
/* top bar
/* */
.top-bar {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
	height: 35px;

    z-index: 100;
	text-align: right;
}
.top-inner {
    width: 960px;
    height: 35px;
    padding: 0px 4px;
    margin: 0 auto;

    text-align: right;
	box-sizing: border-box;
}
.top-inner .logo {
	position: absolute;
	width: 150px;
	height: 25px;
	top: 5px;
}
.top-inner .logo img {
	width: 100%;
	height: 100%;
}
.top-inner ul {
    display: block;
    float: right;
	width: auto;
    height: 35px;
    margin: 0;
    padding: 0;
}
.top-inner ul li {
    display: block;
    float: left;
    width: auto;
    height: 35px;
	padding: 0 15px;
	
    line-height: 35px;
    text-align: center;
	
	font-family: 'Nanum Gothic', '맑은 고딕', sans-serif;
	font-size: 1.1em;
	font-weight: bold;

    cursor: pointer;

    font-size: 1.4em;
}

/* */
/* page
/* */
.page {
    width: 960px;
    min-height: 100%;
    height: auto;
    margin: 0 auto;
}
.page.inner-shadow {
	padding: 0 40px;
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.05), inset -1px 0 0 rgba(0,0,0,.05);
    -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.05), inset -1px 0 0 rgba(0,0,0,.05);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.05), inset -1px 0 0 rgba(0,0,0,.05);
	background-color: rgba(120, 120, 120, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-width: 0 1px;
}
.page.outer-shadow {
	padding: 0 40px;
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.05), inset -1px 0 0 rgba(0,0,0,.05);
    -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.05), inset -1px 0 0 rgba(0,0,0,.05);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.05), inset -1px 0 0 rgba(0,0,0,.05);
	background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-width: 0 1px;
}

/* */
/* header
/* */


/* */
/* contents
/* */
.contents {
    width: 960px;
    height: auto;
	margin-top: 36px;
}

/* */
/* footer
/* */
.footer {
    width: 960px;
    height: auto;
    padding: 4px;
    margin: 0px;

    background-color: transparent;
    box-shadow: none;
	box-sizing: border-box;
}
.footer hr {
    border: 0px;
    border-top: 2px solid #404040;
}
.footer p {
    font-size: 0.87em;
    font-family: 'Nanum Gothic', '맑은 고딕', sans-serif;
    margin-left: 10px;
    color: #404040;
}


/* Landscape phones and down */
@media (max-width: 480px) { 
	.top-inner {
		width: 320px;
	}
	.top-inner .logo {
	}
	.top-inner ul {
		position: static;
	}
    .page {
        width: 320px;
    }
    .contents {
        width: 320px;
    }
    .footer {
        width: 320px;
    }
}
  
/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) { 
	.top-inner {
		width: 640px;
	}
    .page {
        width: 640px;
    }
    .contents {
        width: 640px;
    }
    .footer {
        width: 640px;
    }
}
  
/* Portrait tablet to landscape and desktop */
@media screen and (min-width: 768px) and (max-width: 979px) { 
	.top-inner {
		width: 640px;
	}
    .page {
        width: 640px;
    }
    .contents {
        width: 640px;
    }
    .footer {
        width: 640px;
    }
}
/*
@media screen and (max-width: 664px) {
    .top-inner {
        width: 504px;
    }
    .page {
        width: 504px;
        padding: 0px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background: none;
        border: none;
    }
    .header {
        width: 504px;
    }
    .header-logo {
        float: none;
        width: 504px;
        height: auto;
        margin: 0 auto;
        display: none;
    }
    .header-logo img {
        width: 504px;
        height: auto;
    }
    .header-title {
        float: none;
        width: 474px;
        margin: 0 auto;
        border-right: 4px solid orange;
    }
    .header-title a {
        text-decoration: underline;
        -moz-text-decoration-style: wavy;
    }
    .header-nav {
        float: none;
        width: 488px;
        margin: 0 auto;
        margin-top: 10px;
        border-right: 4px solid orange;
    }
    .contents {
        width: 504px;
        margin: 0 auto;
        margin-top: 6px;
    }
    .footer {
        width: 504px;
    }
    .footer p {
        display: none;
    }
}*/